<header class="main_header">
  <nav class="container clearfix">
    <div class="nav_left">
      <a href="#" class="navbar_brand">
        <img src="./assets/img/tdpay.png">
      </a>
    </div>
    <div class="nav_right">
      <div class="nav_primary">
        <div class="nav_primary">
          <span class="nav_close"></span>
          <ul class="navbar">
            <li><a href="#">What we do?</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="#popup1" class="trigger">Login</a></li>
            <li><a href="#">Signup</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
      </div>
      <div class="user_dash">
        <a href="#" class="user_btn"><img src="./assets/img/user.svg" alt="" class="user_icon"></a>
      </div>
    </div>
  </nav>
</header>
<app-login-signup></app-login-signup>