<footer class="footer_wrapper sec_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3">
        <div class="footer_text_box">
          <h6>Services</h6>
          <ul class="f_navBar">
            <li><a href="#">Mobile Recharge</a></li>
            <li><a href="#">Electricity Bill Payment</a></li>
            <li><a href="#">DTH Bill Payment</a></li>
            <li><a href="#">Gas Bill Payment</a></li>
            <li><a href="#">EMI Payments</a></li>
            <li><a href="#">Offers</a></li>
            <li><a href="#">Bus-Online Bus Booking</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-3">
        <div class="footer_text_box">
          <h6>Company</h6>
          <ul class="f_navBar">
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Sitemap</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Help</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-3">
        <div class="footer_text_box">
          <h6>Help & Support</h6>
          <ul class="f_navBar">
            <li><a href="#">Home</a></li>
            <li><a href="#">Mobile Apps</a></li>
            <li><a href="#">Payment Options</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="#">Become a Partner</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-3">
        <div class="footer_text_box">
          <h6>Connect Us</h6>
          <ul class="f_navBar">
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="#">Become a Partner</a></li>
          </ul>
          <img src="./assets/img/link.png">
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="end_footer">
  <div class="container">
    <p class="text-center">© 2018 One dpaySystem Pvt Ltd, India | All rights reserved.</p>
  </div>
</div>