<div class="payment_form_wrapper">
  <h5>Mobile Recharge or Bill Payment</h5>
  <ul class="radio_btn">
    <li>
      <input id="Prepaid" type="radio" name="user" value="Prepaid">
      <label for="Prepaid"><span></span>Prepaid</label>
    </li>
    <li>
      <input id="Postpaid" type="radio" name="user" value="Postpaid">
      <label for="Postpaid"><span></span>Postpaid</label>
    </li>
  </ul>
  <form class="pay_form">
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <input type="text" class="form-control form_control" placeholder="Mobile Number">
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <input type="text" class="form-control form_control" placeholder="Operator">
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <input type="text" class="form-control form_control" placeholder="Amount">
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <button class="btn btn-primary">Proceed to Recharge</button>
        </div>
      </div>
    </div>
  </form>
</div>