<div class="overlay_bg" id="popup1">
    <div class="form_container">
        <a class="close" href="#">&times;</a>
        <h2>login</h2>
        <form>
            <input type="text" class="email" placeholder="email">
            <br/>
            <input type="password" class="pwd" placeholder="password">
        </form>
        <div class="text-center">
            <a href="#" class="link">
            forgot your password ?
            </a>
        </div>
        <br/>
        <button class="register">
        <span>register</span>
        </button>
        <button class="signin">
        <span>sign in</span>
        </button>
        <h3>your registration is complete !    </h3>
        <h3>your sign in is complete !</h3>
        <div class="reg"></div>
        <div class="sig"></div>
    </div>
</div>