.form_container{
position: absolute;
top:50%;
left:50%;
transform: translate(-50%,-50%);
display:block;
margin-bottom:80px;
width:500px;
height:auto;
background:#fff;
border-radius:5px;
overflow:hidden;
z-index:1;
// box-shadow: 0px 0px 20px 0px rgba(255, 140, 119, 0.18);
}

h2{
padding:40px;
padding-bottom: 50px;
font-weight:lighter;
text-transform:uppercase;
color:#414141;
}

input{
display:block;
height:50px;
width:90%;
margin:0 auto;
border:none;
&::placeholder{
    -webkit-transform:translateY(0px);
    transform:translateY(0px);
    -webkit-transition:.5s;
    transition:.5s;
}
&:hover,
&:focus,
&:active:focus{
    color:#ff937d;
    outline:none;
    border-bottom:1px solid #ff937d;
    &::placeholder{
    color:#ff937d;
    position:relative;
    -webkit-transform:translateY(-20px);
    transform:translateY(-20px);
    
    }
}
}



.email,
.pwd{
position:relative;
z-index:1;
border-bottom:1px solid rgba(0,0,0,.1);
padding-left:20px;
font-family: 'Open Sans', sans-serif;
text-transform:uppercase;
color:#858585;
font-weight:lighter;
-webkit-transition:.5s;
transition:.5s;
}



.link{
text-decoration:none;
display:inline-block;
margin:34px;
text-transform:uppercase;
color:#858585;
font-weight:lighter;
-webkit-transition:.5s;
transition:.5s;
}



button{
cursor:pointer; 
display:inline-block;
float:left;
width:250px;
height:60px;
margin-top:-10px;
border:none;
font-family: 'Open Sans', sans-serif;
text-transform:uppercase;
color:#fff;
-webkit-transition:.5s;
transition:.5s;
&:nth-of-type(1){
    background:#0033cb;
}
&:nth-of-type(2){
    background:#ff937d;
}
span{
    position:absolute;
    display:block;
    margin:-5px 20%;
    -webkit-transform:translateX(0);
    transform:translateX(0);
    -webkit-transition:.5s;
    transition:.5s;
}
&:hover{
    span{
    -webkit-transform:translateX(30px);
    transform:translateX(30px);
    }
    }
}

.reg{
    position:absolute;
    top:0;
    left:0;
    -webkit-transform:translateY(-100%) scale(1);
    transform:translateY(-100%) scale(1);
    display:block;
    width:20px;
    height:20px;
    border-radius:50px;
    background:#0033cb;
    z-index:5;
    -webkit-transition:.8s ease-in-out;
    transition:.8s ease-in-out;
}



.sig{
    position:absolute;
    top:0;
    right:0;
    -webkit-transform:translateY(-100%) scale(1);
    transform:translateY(-100%) scale(1);
    display:block;
    width:20px;
    height:20px;
    display:block;
    background:#ff937d;
    z-index:5;
    -webkit-transition:.8s ease-in-out;
    transition:.8s ease-in-out;
}

h3{
position:absolute;
top:-100%;
left:20%; 
text-transform:uppercase;
font-weight:bolder;
color:rgba(255,255,255,.3);
-webkit-transition:.3s ease-in-out 1.2s;
transition:.3s ease-in-out 1.2s;
}



.form_container button,.form_container input, .form_container optgroup, .form_container select,.form_container textarea {
    font-size: 0.7rem;
}

.form_container h2 {position: relative;}
.form_container h2:after {position: absolute;content: "";height: 3px;position: absolute;height: 3px;
background: #ff8d75; bottom: 35px; left: 40px;width: 40px;}

.form_container .link:hover {color: #ff8d75;}