<section class="payment_section">
  <div class="container">
    <ul class="payment_navbar">
      <li>
        <a href="#" class="active">
          <img src="./assets/img/smartphone_white.svg">
          <span>Mobile</span>
        </a>
      </li>
      <li>
        <a href="#">
          <img src="./assets/img/satellite-dish.svg">
          <span>DTH</span>
        </a>
      </li>
      <li>
        <a href="#">
          <img src="./assets/img/light-bulb-white.svg">
          <span>Mobile</span>
        </a>
      </li>
      <li>
        <a href="#">
          <img src="./assets/img/modem.svg">
          <span>Broadband</span>
        </a>
      </li>
      <li>
        <a href="#">
          <img src="./assets/img/gas_white.svg">
          <span>Gas</span>
        </a>
      </li>
      <li>
        <a href="#">
          <img src="./assets/img/water-tap.svg">
          <span>Water</span>
        </a>
      </li>
      <li>
        <a href="#">
          <img src="./assets/img/train_white.svg">
          <span>Metro</span>
        </a>
      </li>
      <li>
        <a href="#">
          <img src="./assets/img/umbrella.svg">
          <span>Insurance</span>
        </a>
      </li>
      <li>
        <a href="#">
          <img src="./assets/img/more.svg">
          <span>More</span>
        </a>
      </li>
    </ul>
    <div class="payment_form_wrapper">
      <h5>Mobile Recharge or Bill Payment</h5>
      <ul class="radio_btn">
        <li>
          <input id="Prepaid" type="radio" name="user" value="Prepaid">
          <label for="Prepaid"><span></span>Prepaid</label>
        </li>
        <li>
          <input id="Postpaid" type="radio" name="user" value="Postpaid">
          <label for="Postpaid"><span></span>Postpaid</label>
        </li>
      </ul>
      <form class="pay_form">
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <input type="text" class="form-control form_control" placeholder="Mobile Number">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <input type="text" class="form-control form_control" placeholder="Operator">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <input type="text" class="form-control form_control" placeholder="Amount">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <button class="btn btn-primary">Proceed to Recharge</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
<main class="main_wrapper">
  <section class="sec_padding">
    <div class="container">
      <div class="heading_title">
        <h2 class="title_heading"><span>Quick</span> Services</h2>
      </div>
      <div class="services_wrapper">
        <div class="row">
          <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class="service_box">
              <img src="./assets/img/smartphone.svg" alt="" class="service_icon">
              <p>Mobile<br>Recharge</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class="service_box">
              <img src="./assets/img/rupee.svg" alt="" class="service_icon">
              <p>Money<br>Transfer</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class="service_box">
              <img src="./assets/img/bus.svg" alt="" class="service_icon">
              <p>Bus<br>Ticket</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class="service_box">
              <img src="./assets/img/train.svg" alt="" class="service_icon">
              <p>IRCTC<br>Booking</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class="service_box">
              <img src="./assets/img/piggy-bank.svg" alt="" class="service_icon">
              <p>Fund<br>History</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class="service_box">
              <img src="./assets/img/rupee_2.svg" alt="" class="service_icon">
              <p>Reversed<br>Money</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class="service_box">
              <img src="./assets/img/reply.svg" alt="" class="service_icon">
              <p>Transaction<br>Refund</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class="service_box">
              <img src="./assets/img/key.svg" alt="" class="service_icon">
              <p>Pin<br>Change</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class="service_box">
              <img src="./assets/img/shield.svg" alt="" class="service_icon">
              <p>Transaction<br>Status</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class="service_box">
              <img src="./assets/img/light-bulb.svg" alt="" class="service_icon">
              <p>Electronic<br>Bill</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class="service_box">
              <img src="./assets/img/gas.svg" alt="" class="service_icon">
              <p>Gas<br>Bill</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class="service_box">
              <img src="./assets/img/copy.svg" alt="" class="service_icon">
              <p>All<br>Transaction</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- graph -->
  <section class="graph_main_wrapper sec_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <div class="graph_wrapper">
            <div class="heading_title">
              <h2 class="title_heading"><span>Quick</span> Services</h2>
            </div>
            <div class="graph_box">
              <img src="./assets/img/graph_2.png">
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="graph_wrapper">
            <div class="heading_title">
              <h2 class="title_heading"><span>Quick</span> Services</h2>
            </div>
            <div class="graph_box">
              <img src="./assets/img/graph_2.png">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- offer -->
  <section class="sec_padding">
    <div class="container">
      <div class="heading_title">
        <h2 class="title_heading"><span>Quick</span> Services</h2>
      </div>
      <div class="offer_wrapper">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-6 col-12">
            <div class="offer_img">
              <a href="#"><img src="./assets/img/offer_1.png"></a>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-12">
            <div class="offer_img">
              <a href="#"><img src="./assets/img/offer_2.png"></a>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-12">
            <div class="offer_img">
              <a href="#"><img src="./assets/img/offer_3.png"></a>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-12">
            <div class="offer_img">
              <a href="#"><img src="./assets/img/offer_4.png"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- about tdpay -->
  <section class="about_wrapper sec_padding">
    <div class="container">
      <h5 class="second_heading">Why You Should Use <span>tdpay</span>?</h5>
      <p>MobiKwik is India's largest issuer-independent digital financial services platform, leveraging a sophisticated
        product and merchant acquisition capabilities. It is the undisputed No.2 player in the mobile wallet space in
        India and amongst the top 3 players in the payment gateway industry in the country. It has a network of over 3
        million direct merchants, 140+ billers and 107 million-plus users. It records over 1 million transactions/ day.</p>
      <p>MobiKwik is India's largest issuer-independent digital financial services platform, leveraging a sophisticated
        product and merchant acquisition capabilities. It is the undisputed No.2 player in the mobile wallet space in
        India and amongst the top 3 players</p>
    </div>
  </section>
</main>