@blue: #00214D;
@red: #CF142B;
@white: #FFF;
@black: #000;
@baseFontSize: 15px;
@baseLineHeight: 22px;
@box_shadow: 0px 0px 22px 0px rgba(0, 51, 203, 0.1);
@font_medium: 600;
@heading_color :#191d28;
@orange_color: #ef634d;
@blue_color: #0033cb;
@title_p_color: #7b7b7b;
@text_color_light: #5a5b5d;
@text_color: #3f4041;
@white: #fff;
@radius: .2rem; 
.btn-primary {background: #0033cb !important;}


h1 {
    font-family: serif;
    color: @red;
}

h2 {
    color: @blue;
}

h3 {
    color: @black;
}

p {
    color: @black;
    font-size: @baseFontSize;
    line-height: @baseLineHeight;
}


// 
.main_header {
    background: @white;
    .nav_left {
        .navbar_brand {
            display: inline-block;
            margin: .9rem;
            margin-left: 0;
            img {
                height: 40px;
            }
        }
    }
    .nav_right{
        float: right;
        .user_dash {
            margin: 1.09rem;
            margin-right: 0;
            margin-left: 1.4rem;
            float: right;
            a {
                display: inline-block;
                .user_icon {
                    height: 30px;
                }
            }
        }
        .nav_primary {
            float: left;
        }
        .navbar {
            li {
                list-style: none;
                float: left;
                padding-left: 20px;
                padding-right: 20px;
                letter-spacing: .5px;
            }
            a {
                display: block;
                color: @text_color_light;
                font-size: 0.9rem;
                padding: 10px 0;
                position: relative;
                transition: .2s;
                -webkit-transition: .2s;
                -moz-transition: .2s;
                -ms-transition: .2s;
                -o-transition: .2s;
            }
            a:after {
                content: '';
                position: absolute;
                height: 1px;
                background: @orange_color;
                bottom: 0;
                left: 50%;
                right: 50%;
                transition: .2s;
                -webkit-transition: .2s;
                -moz-transition: .2s;
                -ms-transition: .2s;
                -o-transition: .2s;
            }
            a:hover {
                color: @orange_color;
                text-decoration: none;
            }
            a:hover:after {
                left: 0;
                right: 0;
            }
        }
    }
}
.nav_left {
    float: left;
}




.sec_padding {padding: 40px 0px;}
.heading_title {
    margin-bottom: 2rem;
    text-align: center;
    .title_heading {
        color: @heading_color;
        font-weight: bold;
        span {
            font-weight: 300;
        }
    }
    p {
        color: @title_p_color;
        margin-top: 15px;
    }
}

.services_wrapper {
    .service_box {
        text-align: center;
        padding: 20px;
        margin: 15px 0px;
        border-radius: 4px;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        .service_icon {
            height: 40px;
            margin-bottom: 22px;
        }
        p {
            color: @text_color;
            font-size: 0.9rem;
            margin-bottom: 0;
        }
    }
    .service_box:hover {
        background: #fff;
        box-shadow: @box_shadow;
    }
}
// offer_wrapper

.offer_wrapper {
    .offer_img {
        a {
            transition: all ease .3s;
            display: inline-block;
            img {
                width: 100%;
                object-fit: cover;
            }
        }
        :hover {
            box-shadow: @box_shadow;
        }
    }
}
// about 
.about_wrapper {
    .second_heading {
        font-weight: @font_medium;
        color: @heading_color;
        span {
            color: @orange_color;
        }
    }
    p {
        color: @text_color_light;
        line-height: 26px;
    }
}
// payment_section
.payment_section {
    background: @blue_color;
    padding: 40px;
    height: 310px;
    margin-bottom: 50px;
    .payment_navbar {
        li {
            display: inline-block;
            a {
                text-align: center;
                color: @white;
                display: inline-block;
                position: relative;
                img {
                    height: 34px;
                    display: block;
                    margin: 0 auto;
                    margin-bottom: 10px;
                }
                span {
                    padding-top: 6px;
                    font-size: 0.9rem;
                }
            }
            a:after {
                content: '';
                position: absolute;
                height: 3px;
                background: #ff8d75;
                bottom: -8px;
                left: 50%;
                right: 50%;
                transition: .2s;
                -webkit-transition: .2s;
                -moz-transition: .2s;
                -ms-transition: .2s;
                -o-transition: .2s;
            }
            a:hover {
                text-decoration: none;
            }
            a:hover:after {
                left: 0;
                right: 0;
            }
            a.active:after,
            a:hover:after {
                left: 0;
                right: 0;
            }
        }
        li+li {
            margin-left: 80px;
        }
    }
    .payment_form_wrapper {
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
        background: @white;
        border-radius: @radius;
        padding: 30px;
        margin-top: 30px;
        .radio_btn {
            list-style: none;
            margin: 0;
            padding: 0;
            overflow: auto;
            margin-top: 20px;
           li {
            cursor: pointer;
            display: inline-block; 
            input[type="radio"]{
                display: none;
                cursor: pointer;
              }
              input[type="radio"] + label span {
                display: inline-block;
                width: 20px;
                height: 20px;
                background: transparent;
                vertical-align: middle;
                border: 2px solid #ff937d;
                border-radius: 50%;
                padding: 2px;
                margin:0 10px;
                margin-left: 0;
              }
              input[type="radio"]:checked + label span {
                width: 20px;
                height: 20px;
                background: #ff937d;
                background-clip: content-box;
              }
           }
           li+li {
               margin-left: 30px;
           }
        }
        .pay_form {
            margin-top: 20px;
            .form_control {
                border: none;
                border-bottom: 1px solid #c3c9d5;
                color: @text_color_light;
                font-size: .9rem;
                height: 44px;
                border-radius: 0px;
            }
            :placeholder {
                color: #8491a8;
            }
            .form-control:focus {
                color: @text_color_light;
                background-color: #fff;
                border-color: transparent;
                border-bottom: 1px solid #c3c9d5;
                outline: 0;
                box-shadow: 0 0 0 0.2rem rgba(0,123,255,.0);
                height: 44px;
            }
            .btn {
                width: 100%;
                height: 44px;
            }
        }
    }
}
// graph_main_wrapper
.graph_main_wrapper {
    background: #f0f3f7;
    .graph_wrapper {
        img {
            width: 100%;
            height: 432px;
        }
    }
}
// footer_wrapper

.footer_wrapper {
    background: #ecedf2;
    .footer_text_box {
        img {
            width: 100%;
            margin-top: 30px;
        }
        .f_navBar {
            list-style: none;
            margin: 0;
            padding: 0;
            padding-top: 10px;
            li+li {
                margin-top: 8px;
            }
            li {
                a {
                    color: #4b505e;
                    transition: all 0.2s ease;
                    font-size: .8rem;
                }
                a:hover {
                    color: #ef634d;
                    text-decoration: none;
                }
            }
        }
    }
}
// end_footer
.end_footer {
    background: #dee0ea;
    padding: 30px 0px;
    p {
        color: #737682;
        font-size: 0.9rem;
        margin-bottom: 0;
    }
}

// overlay_bg
.overlay_bg {
    position: fixed;
    display: block;
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 400;
    background: rgba(0,0,0,.7);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.overlay_bg:target {
    visibility: visible;
    opacity: 1;
  }

  .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    z-index: 9;
  }

  @media only screen and (max-width: 600px) {
    .payment_section {
        height: auto;
        padding: 30px 0px;
        margin-bottom: 0px;
        .payment_navbar {
            white-space: nowrap;
            overflow-x: auto;
            li+li {
                margin-left: 50px;
            }
            li a {
                span {font-size: 0.8rem;}
                img { height: 26px; }
            }
        }
        .payment_form_wrapper {
            padding: 24px;
            .form-group {
                .btn.btn-primary {
                    margin-bottom: -10px;
                }
            }
        }
    }
    // offer_wrapper
    .offer_wrapper {
        .offer_img {
            margin: 0 auto;
            text-align: center;
            margin: 15px 0px;
        }
    }
    // footer_wrapper sec_padding
    .footer_wrapper {
        .footer_text_box {
            margin: 15px 0;
            .f_navBar {
                padding-top: 0;
            }
        }
    }
  }